# ----------------------
# Dependencies
# ----------------------
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
.env*.local      # Variables de entorno locales (API keys, secrets)

# ----------------------
# Testing
# ----------------------
/coverage         # Cobertura de tests

# ----------------------
# Next.js
# ----------------------
/.next/           # Build de Next.js
/out/             # Export de Next.js (si se usa)

# ----------------------
# Production
# ----------------------
/build            # Carpeta de build si se usa

# ----------------------
# Misc
# ----------------------
.DS_Store
*.pem             # Certificados

# ----------------------
# Debug / Logs
# ----------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------
# Local environment files
# ----------------------
.env*.local       # Archivos locales de entorno
.next-env.d.ts    # Generado por Next.js

# ----------------------
# Vercel
# ----------------------
.vercel           # Configuración local de Vercel

# ----------------------
# TypeScript
# ----------------------
*.tsbuildinfo     # Archivos de build incremental de TypeScript
